$white: #191c36;
$gray-100: #272727;
$gray-200: #3e3e3e;
$gray-300: #515151;
$gray-400: #5e5e5e;
$gray-500: #808080;
$gray-600: #7b7b7b;
$gray-700: #909090;
$gray-800: #cbcbcb;
$gray-900: #e0e0e0;
$black: #ffffff;

// Brand Colors
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$theme-colors: (
    primary: #8a4fe9, 
    secondary: $gray-600, 
    success: $green, 
    info: $cyan, 
    warning: $yellow, 
    danger: $red, 
    light: $gray-100, 
    dark: $gray-800
);

$modal-backdrop-bg: $white;