$white: #191c36;
$gray-100: #272727;
$gray-200: #3e3e3e;
$gray-300: #515151;
$gray-400: #5e5e5e;
$gray-500: #808080;
$gray-600: #7b7b7b;
$gray-700: #909090;
$gray-800: #cbcbcb;
$gray-900: #e0e0e0;
$black: #ffffff;