<div class="container bg-white header">
    <div class="parallax">
        <section id="home">
            <div class="image" data-type="background" data-speed="1"></div>
            <div class="inner light" data-type="content">
                <div class="p-container">t
                    <div class="container-fluid text-light">
                        <h1 class="logo light big" data-aos="zoom-in">PrestigiousAddress</h1>
                        <div class="lead" data-aos="fade-up"><span data-aos="fade-right">Property search agents</span>
                            <span data-aos="fade-left">| South-East England</span></div>
                    </div>
                </div>
                <div class="container-fluid" data-aos="fade-up">
                    <div class="row _buttons">
                        <div class="col-sm p-4"><button class="btn btn-outline-light big _a-fade-in-up" type="button">
                                About Us and Our Team
                            </button>
                            <button class="btn btn-outline-light big _a-fade-in-up" type="button">
                                Contact Us
                            </button></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="sec-about">
            <div class="image" style="opacity: .48;" data-type="background" data-speed="1"></div>
            <div class="inner light" data-type="content">
                <div class="container-fluid bg-none">
                    <div class="bar header"></div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="jumbotron bg-transparent text-light">
                                <div class="p-container container">
                                    <h1 class="display-4">About Us</h1>
                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">A discreet search service</p>
                                    </blockquote>
                                    <p class="lead" style="font-weight: 400;">We offer a private client property search
                                        service with a business presence
                                        since 2018.
                                        Operating in the South East of England we solely represent individual
                                        buyers seeking high end property.
                                        Being based in the region we have an
                                        in-depth knowledge which
                                        we use together with your detailed brief to conduct a discreet focused
                                        search.</p>

                                    <blockquote class="blockquote">
                                        <p class="mb-0">Saving you time and energy</p>
                                    </blockquote>
                                    <p class="lead" style="font-weight: 400;">We conduct initial viewings, provide you
                                        with property information and
                                        accompany you on viewings of the most suitable, desirable properties.</p>

                                    <p class="lead" style="font-weight: 400;">
                                        Additionally,
                                        giving you reassurance in acting as your buying agent as required.

                                        We are very excited about meeting you, discussing your requirements,
                                        detailing how we will help you, receiving your instruction and finding your
                                        new residence.
                                    </p>

                                    <button class="btn btn-outline-light big" type="button">
                                        Our Team
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="sec-our-team" class="_s-half" style="min-height: 100vh;">
            <div class="bar header"></div>
            &nbsp;
            <div class="image" data-type="background" data-speed="1"></div>
            <div class="inner light" data-type="content">
                <div class="inner transparent">
                    <div class="container-fluid"></div>
                    <div class="jumbotron _jumbotron-fluid">
                        <div class="p-container">
                            <h1 class="display-4 mb-5">Our Team</h1>
                            <div class="row mt-4">
                                <div class="col-8 col-sm-8 m-auto col-md card text-center" style="min-width: 200px;">
                                    <img class="card-img-top round"
                                        src="https://prestigiousaddress.co.uk/wp-content/uploads/2018/11/profile-1.png"
                                        alt="&gt;Washington-Ross Crawford" />
                                    <div class="card-body">
                                        <h5 class="card-title">Washington-Ross Crawford</h5>

                                    </div>
                                </div>
                                <div class="col-8 col-sm-8 m-auto col-md card text-center" style="min-width: 200px;">
                                    <img class="card-img-top round"
                                        src="https://prestigiousaddress.co.uk/wp-content/uploads/2018/11/profile-2.png"
                                        alt="Grace Crawford" />
                                    <div class="card-body">
                                        <h5 class="card-title">Grace Crawford</h5>
                                    </div>
                                </div>
                            </div>
                            <p class="lead mt-5 mb-1 text-center">We are a mother and son team with a passion for
                                property and providing excellent
                                customer service.</p>

                            <p class="lead mb-1 text-center">
                                We believe the relationship we build with you is an important key to your enjoying a
                                successful client focused experience resulting in a fruitful search.
                                At PrestigiousAddress we aim to look after you, while walking a path towards
                                excellence.
                            </p>
                            <hr class="_d-sm-none seperator el" />
                            <button class="btn btn-outline-dark big" type="button">
                                Explore our fees
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="s-third">
            <div class="image"
                style="background-image: url('https://prestigiousaddress.co.uk/wp-content/uploads/2019/01/bg-compressed-4.jpg');"
                data-type="background" data-speed="1"></div>
            <div class="inner light" data-type="content">
                <div class="inner transparent">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm button btn-outline-primary"></div>
                            <div class="col-sm"></div>
                        </div>
                    </div>
                    <div class="jumbotron jumbotron-fluid">
                        <div class="p-container"></div>
                    </div>
                </div>
            </div>
        </section><!-- fees -->
        <div id="fees" class="mt-5 mb-5">
            <div class="container pt-3 pb-3 text-center">
                <h3 class="display-4 text-center mb-5">Our Fees</h3>
                <p class="lead text-center">Our fees include an initial retainer fee followed by a success fee payable
                    between exchange and
                    completion and, if applicable, an oversee of purchase fee.</p>
                <p class="lead text-center">Whether you intend to purchase or rent, we invite you to contact us to
                    discuss your personal
                    circumstances and receive a detailed written breakdown of our fees based on your individual intended
                    spend, by way of an example.</p>
                <p class="pt-4 text-muted">At Prestigious Address we do not hold client money.</p>


                <hr class="_d-sm-none seperator el" />

                <button class="btn btn-outline-dark big" type="button">
                    Contact Us
                </button>

            </div>
        </div>
        <section id="sec-contact" class="s-third">
            <div class="image img-paroller"
                style="background-image: url('https://prestigiousaddress.co.uk/wp-content/uploads/2019/01/bg-compressed-3.jpg');"
                data-paroller-factor="0.05" data-paroller-factor-xs="0.1" data-paroller-factor-sm="0.2"
                data-paroller-type="background" data-paroller-direction="vertical" data-type="background"
                data-speed="1"></div>
            <div class="inner light" data-type="content">
                <div class="inner transparent">
                    <div class="p-container">
                        <h1 class="display-4"></h1>
                        <!--
<div class="container">
<a href="tel:+447999986012" class="nobox">
<button type="button" class="btn btn-light medium">+44 (0) 7999 986012</button>
</a>
<a href="mailto:washington-ross@prestigiousaddress.co.uk" class="nobox">
<button type="button" class="btn btn-light medium">washington-ross@prestigiousaddress.co.uk</button>
</a>
<button type="button" class="btn btn-outline-light medium sidebar-btn-open">
See our times, or get in touch via request
</button></div>
-->

                    </div>
                </div>
            </div>
        </section>
        <div id="_sec-contact" class="mt-5 mb-4">
            <div class="container">
                <div class="container">
                    <h3 class="display-4 text-center mb-5">Contact Us</h3>
                    <p class="lead mb-5">You can contact us by <strong>telephone</strong> or by <strong>email</strong>,
                        you may also submit a <strong>contact form</strong> below.</p>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div id="sideNav-inner" class="container">
                            <!--container -->
                            <div class="container">
                                <!--
 	<dt class="col-sm-12">You can contact us by telephone or email</dt>
-->
                                <ul class="list-unstyled opening-hours">
                                    <li>Monday 8:30am - 20:00pm</li>
                                    <li>Tuesday 8:30am - 20:00pm</li>
                                    <li>Wednesday 8:30am - 20:00pm</li>
                                    <li>Thursday 8:30am - 20:00pm</li>
                                    <li>Friday 8:30am - 20:00pm</li>
                                    <li>Saturday 8:30am - 20:00pm</li>
                                    <li>Sunday - Closed</li>
                                </ul>

                                <p>
                                    We look forward to speaking with you.
                                </p>
                                <div class="mb-3">
                                    <h6> Contact Grace</h6>
                                    <a href="tel:+447857901409">
                                        <button class="btn btn-outline-dark" type="button">+44 (0) 7857 901409</button>
                                    </a>
                                    <a href="mailto:gracecrawford@prestigiousaddress.co.uk">
                                        <button class="btn btn-outline-dark" type="button">
                                            gracecrawford@prestigiousaddress.co.uk
                                        </button>
                                    </a>
                                </div>

                                <div class="mb-3">
                                    <h6>Contact Washington-Ross</h6>
                                    <a href="tel:+447999986012">
                                        <button class="btn btn-outline-dark" type="button">
                                            +44 (0) 7999986012
                                        </button>
                                    </a>

                                    <a href="mailto:washington-ross@prestigiousaddress.co.uk">
                                        <button class="btn btn-outline-dark" type="button">
                                            washington-ross@prestigiousaddress.co.uk
                                        </button>
                                    </a>
                                </div>


                                <div class="mb-3">
                                    <h6>Follow us On</h6>
                                    <a class="_nav-link"
                                        href="https://www.facebook.com/PrestigiousAddress-280748699157001">
                                        <img
                                            src="https://prestigiousaddress.co.uk/wp-content/uploads/2019/01/flogo_RGB_HEX-72.png" />
                                    </a>

                                    <a class="_nav-link" href="https://twitter.com/PrestigiousAdd1">
                                        <img
                                            src="https://prestigiousaddress.co.uk/wp-content/uploads/2019/01/Twitter_Social_Icon_Rounded_Square_Color-2.png" />
                                    </a>
                                    <a class="_nav-link" href="https://www.instagram.com/prestigiousaddress/">
                                        <img
                                            src="https://prestigiousaddress.co.uk/wp-content/uploads/2019/01/glyph-logo_May2016.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sec-side-form" class="col-sm">
                        <h4 class="d-none display-4">Or submit a contact form</h4>
                        [caldera_form id="CF5c4e2495c3860"]
                    </div>
                </div>
                <!--row-->
            </div>
            <!--container-->
        </div>
        <section class="s-third">
            <div class="image fixed"
                style="background-image: url('https://prestigiousaddress.co.uk/wp-content/uploads/2019/01/bg-compressed-5.jpg');"
                data-type="background" data-speed="1"></div>
            <div class="inner light" data-type="content">
                <div class="inner transparent">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm button btn-outline-primary"></div>
                            <div class="col-sm"></div>
                        </div>
                    </div>
                    <div class="jumbotron jumbotron-fluid">
                        <div class="p-container">
                            <h1 class="display-4"></h1>
                            <p class="lead"></p>

                        </div>
                    </div>
                </div>
            </div>
        </section><!-- footer -->
        <div class="footer dark d-none">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        Follow <span class="logo inline dark">PrestigiousAddress</span> on.
                        <ul>
                            <li><a href="https://twitter.com/PrestigiousAdd1">
                                    Twitter
                                </a></li>
                            <li><a href="https://www.facebook.com/PrestigiousAddress-280748699157001">Facebook</a></li>
                            <li><a href="https://www.instagram.com/prestigiousaddress/">Instagram</a></li>
                        </ul>
                        <small>Our Policies.</small>
                        <ul>
                            <li><a href="/terms-and-conditions">Website Terms and Conditions</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <hr class="d-sm-none" />

                    <div class="col-sm">
                        <hr class="d-sm-none" />
                        <address>
                            PrestigiousAddressLimited
                            Registered Address:
                            50 Lodge Hill Road, Lower Bourne
                            Farnham Surrey, GU10 3RF
                            United Kingdom</address>
                        <small>
                            Company No. 11490795,
                            VAT No. 309316612,
                            TPO No. T02380,
                            ICO Certified No. ZA473129
                        </small>
                        <div class="row">
                            <div class="col-sm"></div>
                        </div>
                        <p class="brand logo dark">PrestigiousAddress</p>
                        <div class="col-sm d-inline"><img class="w-auto" style="height: 40px;"
                                src="https://prestigiousaddress.co.uk/wp-content/uploads/2018/12/Generic.jpg" alt="" />
                        </div>
                        © 2018 Copyright: PrestigiousAddress
                    </div>
                </div>
            </div>
        </div>
        <!-- end of footer -->

    </div>
</div>
<!--body-->