@import '../util.scss';
$white: #0a0a0a;
$gray-100: #1f1f1f;
$gray-200: #494949;
$gray-300: #4c4c4c;
$gray-400: #6b6b6b;
$gray-500: #808080;
$gray-600: #7b7b7b;
$gray-700: #909090;
$gray-800: #cbcbcb;
$gray-900: #e0e0e0;
$black: #ffffff;
@import '../end.scss';