.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-spacer {
  padding-top: 57px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 57px;
  height: auto;
  overflow-y: auto;
}

div.sticky-top {
  z-index: 4;
}

div.background, #root {
  background-color: #f2f2f2;
}

.circle-avatar {
  border-radius: 50%;
  text-align: center;
  object-fit: cover;
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .navbar-collapse {
      position: fixed;
      top: 0; /* adjust to height of navbar */
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 75%;
      height: 100% !important;
      background-color: white;
      z-index: 3;
      box-shadow: 1px 0px 5px 0px #e2e2e2;
  }

  .navbar-collapse.collapsing {
      position: fixed;
      left: -75%;
      transition: height 0s ease;
  }

  .navbar-collapse.show {
      left: 0;
      transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
      transition: left 500ms ease-in-out;
  }
}

.main-content {
  overflow-y: scroll;
  max-height: calc(100vh - 65px);
}

body, #root, #screen-left, #screen-right {
  max-height: calc(100vh - 65px);
}

body {
  font-family: 'Roboto' !important;
}

.navbar-brand {
  font-weight: 900;
}

.navbar-brand span {
  font-weight: 200;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.vote-vertical:hover {}
.vote-vertical:hover .vote-inner {
  /*z-index: 100;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 1px solid black;
  */
}

.iframe-container .modal-dialog {
  max-height: "80vh";
}

iframe.external-link {
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23FF0000" x="50%" y="50%" font-size="24" text-anchor="middle">Loading...</text></svg>') 0px 0px no-repeat;
}

.inner-navbar-nav {
  
}

.user-info span {
  margin-right: .25em;
}

.board-header div {
  padding: .5em 1em;
  border-right: 1px solid rgba(0,0,0,.125);
}

.button-row button {
  margin-right: 1em;
}

.poster-info {
  font-size: .8em;
}
.poster-info .username {
  font-size: .99em;
  font-weight: 900;
}