.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: auto;
  overflow-y: auto;
}

div.sticky-top {
  top: 57px;
  z-index: 4;
}

.header-spacer {
  padding-top: 57px;
}

/*
div.background, #root {
  background-color: #f2f2f2;
}
*/

.circle-avatar {
  border-radius: 50%;
  text-align: center;
  object-fit: cover;
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .navbar-collapse {
      position: fixed;
      top: 0; /* adjust to height of navbar */
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 75%;
      height: 100% !important;
      background-color: white;
      z-index: 3;
      box-shadow: 1px 0px 5px 0px #e2e2e2;
  }

  .navbar-collapse.collapsing {
      position: fixed;
      left: -75%;
      transition: height 0s ease;
  }

  .navbar-collapse.show {
      left: 0;
      transition: left 300ms ease-in-out;
      z-index: 10;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
      transition: left 500ms ease-in-out;
  }
}

.main-content {
  /*overflow-y: scroll;
  max-height: calc(100vh - 65px);
  /**/
}

body, #root, #screen-left, #screen-right {
  /*
  max-height: calc(100vh - 65px);
  /**/
}

body {
  font-family: 'Roboto' !important;
  height: 100vh;
  overflow-y: scroll;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
}

#screen-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

#screen-row {
  flex-grow:1;
}

.navbar-brand {
  font-weight: 900;
}

.navbar-brand span {
  font-weight: 200;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.vote-vertical:hover {}
.vote-vertical:hover .vote-inner {
  /*z-index: 100;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 1px solid black;
  */
}

.iframe-container .modal-dialog {
  max-height: "80vh";
}

iframe.external-link {
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23FF0000" x="50%" y="50%" font-size="24" text-anchor="middle">Loading...</text></svg>') 0px 0px no-repeat;
}

.inner-navbar-nav {
  
}

.user-info span {
  margin-right: .25em;
}

.board-header div {
  padding: .5em 1em;
  border-right: 1px solid rgba(0,0,0,.125);
}

.button-row-vertical button {
  margin-bottom: 1em;
}

.button-row button {
  margin-right: 1em;
}

.poster-info {
  font-size: .8em;
}
.poster-info .username {
  font-size: .99em;
  font-weight: 900;
}

.rounded-iframe-container iframe {
  border-radius: .25em;
}

.rounded-iframe-container .react-player__preview {
  border-radius: .25em;
}

.contrast-background * {
  color: gray;
  mix-blend-mode: difference;
}

.masonry-container {
  width: 50%;
}

/*
#screen-left-wrapper {
  max-width: 9% !important;
}

#screen-left-wrapper:hover {
  max-width: 16%;
}
*/

.page-link {
  cursor: pointer;
  transition: background-color .2s ease;
}

.page-link:hover {
  /*box-shadow: 0 1rem 1rem rgba(0,0,0,.175)!important;*/
  box-shadow: 0 .2rem .3rem rgba(0, 0, 0, 0.175) !important;
}

.community-icon {
  transition: border-radius, border-width .5s ease-in-out;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: .125em;
}

.community-icon-active {
  border-radius: 1em !important;
  border-style: solid;
  border-width: .25em;
  transition: border-radius, border-width .5s ease-in-out;
  /*border: .25em solid #85c2ff !important;*/
}

.circle-avatar {
  position: relative; 
}

.circle-avatar span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle-avatar svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dropdown {
  text-align: center;
}

.jumbotron-fluid:after {
  position: relative;
  bottom: 0;
  background-color: red;
  left: 0;
  right: 0;
  height: 10px;
}

.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax-image {
  background-size: cover;
  background-position: center;
/*
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  */
}
.wrapper-screen-left {
  
}

#screen-left {
  overflow-y: auto;
}

.ProseMirror, .ProseMirror p {
  background: none !important;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 